body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-25xl: 44px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-41xl: 60px;
  --font-size-9xl: 28px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-36xl: 55px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-lightgreen-100: #a9ef8f;
  --color-lightgreen-200: rgba(169, 239, 143, 0.6);
  --color-mediumturquoise: #4bd0c4;
  --color-whitesmoke: #f4f5f6;
  --color-teal: #0c7489;
  --color-mediumaquamarine-100: #6cd8a9;
  --color-mediumaquamarine-200: rgba(146, 227, 169, 0.6);
  --color-darkgray: #959aa1;

  /* Gaps */
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-sm: 14px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-11xl: 30px;
  --gap-4xs: 9px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-4xl: 23px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-17xl: 36px;
  --padding-8xs: 5px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-smi: 13px;
  --padding-31xl: 50px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-61xl: 80px;
  --br-xl: 20px;
  --br-mini: 15px;
}
